@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@400;600&display=swap');

:root {
  --highliht-clr: #36c9be;
  --border-clr: #AAAAAA;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: 'Rajdhani', sans-serif;
  font-size: 20px;
}

.container {
  margin: 30px auto;
  min-width: 600px;
  max-width: 600px;
}

.title {
  text-align: center;
  font-size: 3rem;
}

nav {
  margin-top: 20px;
  text-align: center;
}

.btn {
  padding: 10px 12px;
  background-color: var(--highliht-clr);
  border-radius: 5px;
  border: none;
  color: white;
  font-size: .8rem;
  cursor: pointer;
  transition: color .3s;
}

.btn:hover { 
  color: black;
}

.message-list {
  margin-top: 20px;
  list-style: none;
  border: 1px solid var(--border-clr);
  border-radius: 5px;
}

.message {
  border-top: 1px solid var(--border-clr);
  padding: 20px;
}

.message:first-of-type {
  border-top: 1px solid transparent;
}

.message-name {
  font-weight: bold;
  font-size: 1.15rem;
}

.message-timestamp {
  color: #888888;
  font-size: .6rem;
  display: block;
}

.input-group {
  display: flex;
  margin-top: 20px;
  height: 40px;
  background-color: #EEEEEE;
  border: 1px solid var(--border-clr);
  border-radius: 5px;
}

.input-group label {
  flex: .5;
  padding: 7px 10px;
  width: 25%;
  height: 100%;
  border: none;
  font-size: .9rem;
  color: #444444;
}

.input-group input[type="text"] {
  flex: 4;
  width: 60%;
  height: 100%;
  padding: 0 15px;
  border: none;
  color: #444444;
  border-left: 1px solid var(--border-clr);
  font-size: 1rem;
  outline: none;
}

.input-group input[type="submit"] {
  height: 100%;
  padding: 0 15px;
  border: none;
  background-color: var(--highliht-clr);
  color: white;
  cursor: pointer;
  transition: color .3s;
}

.input-group input[type="submit"]:hover {
  color: black;
}

.update-mssg {
  margin-top: 30px;
  text-align: center;
}